{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "no-console": "warn",
    //console.log 사용 시 경고
    "no-unused-vars": "warn"
  }
}